:host {
  menphys-sidenav {
    margin-right: 10px;

    #page-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 1360px;
      margin: 20px auto;

      &.hide-footer {
        position: relative;

        main {
          height: calc(100vh - 170px);
        }

        footer {
          height: 0px;
          overflow: hidden;

          div:nth-child(2) {
            position: absolute;
            bottom: -15px;
            right: 0;

            span {
              text-align: center;
              margin: 0px 15px;
            }
          }
        }
      }

      main {
        height: calc(100vh - 255px);
        width: 100%;
        background-color: var(--brand-color-7);
        transition: all 0.5s;
        border-radius: 8px;
        box-shadow: 0px 0px 10px var(--brand-color-8);
        padding: 30px;
        overflow: auto;
      }

      footer {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        overflow: auto;
        transition: all 0.5s;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          flex-wrap: inherit;
          gap: 0px;
          overflow: hidden;

          div {
            width: 100%;
            gap: 0px !important;
          }
        }

        div {
          justify-content: flex-end;
          display: flex;
          flex-direction: column;
          gap: 5px;

          span {
            color: var(--text-color);
            opacity: 0.5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}