<menphys-sidenav [items]="items">
  <div id="page-content">
    <menphys-header>
      <menphys-input
        [maxlength]="999"
        type="search"
        [righticon]="{
        name: 'search',
        size: 30
      }"
        placeholder="Search"
      />
    </menphys-header>
    <main>
      <router-outlet />
    </main>
    <footer>
      <div>
        <span>Version: <span>{{version.version}}</span></span>
        <span>Time: <span>{{getTime(version.lastCommitTime)}}</span></span>
        <span>Author: <span>{{version.lastCommitAuthor}}</span></span>
      </div>
      <div>
        <span>{{version.copyright}}</span>
      </div>
    </footer>
  </div>
</menphys-sidenav>
