@import url('./_scrollbar.scss');
@import url('./_inputs.scss');

html,
body {
  background-color: var(--brand-color-6);
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: background-color 0.5s;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}